.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  border-radius: 10px;
}

.heading {
  font-size: 30px;
  color: #ff8542;
  font-family: 'Roboto';
}
.card-list-container {
  width: 80%;
}
